<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KP.OrderMGT.BL.Properties.Settings.KPOrderConnectionString"
            connectionString="Data Source=devdata;Initial Catalog=KPOrder;Persist Security Info=True;User ID=sa;Password=sql2000"
            providerName="System.Data.SqlClient" />
        <add name="KP.OrderMGT.BL.Properties.Settings.NDCCSVB_TrainConnectionString"
            connectionString="Data Source=172.17.0.3;Initial Catalog=NDCCSVB_Train;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>